

body{
    background-color: aqua;
    text-align: center;
}

.panel{
    margin-left: 550px;
    margin-right: 550px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.Button{
    color:black;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

